# 1. Python & AI (Virtual Environment dan Cache)
venv/
env/
__pycache__/
*.pyc
*.pyo

# 2. Node.js & Next.js
node_modules/
npm-debug.log
.next/
out/
build/
*.tsbuildinfo

# 3. File Rahasia dan Konfigurasi (WAJIB!)
.env
*.env

# 4. File Data & Model AI (Ukurannya besar, jangan diupload)
*.pkl
*.pt
*.h5
*.csv
*.json
*.db
*.sqlite3

# 5. Sampah Sistem Operasi (Windows/Mac)
.DS_Store
Thumbs.db

# 6. Sampah VS Code
.vscode/

# 7. Next.js
.next/
out/

# Pengecualian: file konfigurasi proyek (karena *.json di atas)
!package.json
!package-lock.json
!jsconfig.json